<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/booscss.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Cuenta</title>
    <script src="{% static 'js/java.js' %}"></script>
</head>
<body class="body">
  {% include 'base/header.html'%}
    <div class="container" id="cuenta" style="display: none;">
        <form class="row g-3" id="formRegistro">
            <div class="col-md-12">
              <label for="inputEmail4" class="form-label" style="color: white;" >Email</label>
              <input type="text" class="form-control" name="email" id="email" placeholder="Ingrese su correo" required>
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label" style="color: white;">Contraseña</label>
              <input type="password" class="form-control" id="inputPassword4" required>
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label" style="color: white;">Repita su contraseña</label>
              <input type="password" class="form-control" id="inputPasswordConfirmar" required>
            </div>
            <div class="form-floating w-50 mb-3" id = "fechaNac">
              <input type="date" class="form-control" id="txtFecha" name="txtFecha"
                  placeholder="Fecha de Nacimiento" required>
              <label for="txtFecha">Fecha de Nacimiento</label>
            </div>
            <div class="row">
              <div class="col-12 mb-2">
                  <label for="">Seleccione su genero</label>
              </div>
              <div class="col mb-3">
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" value="Masculino" name="optGenero"
                          id="optGenero1">
                      <label class="form-check-label" for="optGenero1">
                          Masculino
                      </label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" value="Femenino" name="optGenero"
                          id="optGenero2">
                      <label class="form-check-label" for="optGenero2">
                          Femenino
                      </label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" value="Otro" name="optGenero" id="optGenero3">
                      <label class="form-check-label" for="optGenero3">
                          Otro
                      </label>
                  </div>
              </div>
          </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label" style="color: white;">Dirección</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Calle o avenida 1234" required>
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label" style="color: white;">Ciudad</label>
              <input type="text" class="form-control" id="inputCity" required>
            </div>
            <div class="col-md-6">
              <label for="inputState" class="form-label" style="color: white;">Region</label>
              <select id="inputState" class="form-select" required>
                <option selected>Región de Arica y Parinacota</option>
                <option selected>Región de Tarapacá</option>
                <option selected>Región de Antofagasta</option>
                <option selected>Región de Atacama</option>
                <option selected>Región de Coquimbo</option>
                <option selected>Región de Valparaíso</option>
                <option selected>Región Metropolitana</option>
                <option selected>Región de O’Higgins</option>
                <option selected>Región del Maule</option>
                <option selected>Región del Ñuble</option>
                <option selected>Región del Biobío</option>
                <option selected>Región de La Araucanía</option>
                <option selected>Región de Los Ríos</option>
                <option selected>Región de Los Lagos</option>
                <option selected>Región de Aysén</option>
                <option selected>Región de Magallanes</option>
              </select>
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck" style="color: white;">
                  Deseo recibir ofertas a mi correo electronico
                </label>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" id= "botoneRegistro1" class="btn btn-outline-dark" style="color: white;">Registrarse</button>
            </div>
            <div class="col-12">
              <button type="button" id= "botoneRegistro2" class="btn btn-outline-dark" id = "btnLimpiarRegistro "style="color: white;">Limpiar</button>
            </div>
            <p class="warnings" id="warningsRegistro"> </p>
          </form>
    
    </div>
    <div class="container-fluid" id="logincuenta">
      <div class="row">
          <form action="" method="POST" class="col-6 mx-auto shadow-lg mt-3 text-center" id="formLogin">
              <h3 style="color: white;">Login</h3>
              <div class="w-50 mx-auto mb-3">
                  <img src="img/logo.jpg" class="w-25 rounded-circle opacity-50" alt="">
              </div>
              <div class=" form-floating w-50 mx-auto mb-3">
                  <input type="text" class="form-control" name="user" id="user" placeholder="Ingrese su usuario" required>
                  <label for="user">Usuario:</label>
              </div>
              <div class="form-floating w-50 mx-auto mb-3">
                  <input type="password" class="form-control" name=" pass" id="pass"
                      placeholder="Ingrese su contraseña" required>
                  <label for="pass">Contraseña:</label>
              </div>
              <div class="form-floating col-6 mx-auto mb-2">
                <select name="optRol" id="optRol" class="form-select">
                    <option value="1">Cliente</option>
                    <option value="2">Empresa</option>
                    <option value="3">Administrativo</option>
                </select>
                <label for="optRol">Rol</label>
            </div>
              <div class=" form-floating w-50 mx-auto mb-3">
                  <input type="submit" id="btnSub" value="Ingresar" class="btn btn-outline-primary">
                  <input type="reset" id="btnRes" value="Limpiar" class="btn btn-outline-warning">
                  <button type="button" class="btn btn-outline-success" id="btnCrearCuenta">Crear cuenta</button>
              </div>
              <p class="warnings" id="warningsLogin"> </p>
          </form>
      </div>
    </div> 
</body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>
</div>