<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/booscss.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Ropa hombre</title>
</head>
<body class="body">
  {% include 'base/header.html'%}
      <div class="container">
        <div class="card-group">
          <div class="card">
            <a href="#"><img src="{% static 'img/mujer1.jpg'%}" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <div class="info-producto">
                <h5>Vestido Goth Style negro</h5>
                <p class="price">$0</p> <br><br>
                <button class = "btnAgregarCarro">Agregar al carrito</button>
            </div>
            </div>
          </div>
          <div class="card">
            <a href=""><img src="{% static 'img/mujer2.jpg'%}" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <div class="info-producto">
                <h5>Falda tableada color negro</h5>
                <p class="price">$0</p><br><br>
                <button class = "btnAgregarCarro">Agregar al carrito</button>
            </div>
            </div>
          </div>
          <div class="card">
            <a href="#"><img src="{% static 'img/mujer3.jpg'%}" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <div class="info-producto">
                <h5>Pantalon cuadrille </h5>
                <p class="price">$0</p><br><br>
                <button class = "btnAgregarCarro">Agregar al carrito</button>
            </div>
            </div>
          </div>
          <div class="card">
            <a href="#"><img src="{% static 'img/oferta2.jpg'%}" class="card-img-top" alt="..." height="90%"></a>
            <div class="card-body">
              <div class="info-producto">
                <h5>Mini faldaa 20% desc.</h5>
                <p class="price">$0</p><br><br>
                <button class = "btnAgregarCarro">Agregar al carrito</button>
            </div>
            </div>
          </div>
          <div class="card">
            <a href="#"><img src="{% static 'img/hombre1.jpg'%}" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <div class="info-producto">
                <h5>Pantalones Cargo para hombre, ropa de calle Harajuku</h5>
                <p class="price">$0</p><br><br>
                <button class = "btnAgregarCarro">Agregar al carrito</button>
            </div>
            </div>
          </div>
          <div class="card">
            <a href=""><img src="{% static 'img/hombre2.jpg'%}" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <div class="info-producto">
                <h5>Camisa urbana mezclilla</h5>
                <p class="price">$0</p><br><br>
                <button class = "btnAgregarCarro">Agregar al carrito</button>
            </div>
            </div>
          </div>
          <div class="card">
            <a href="#"><img src="{% static 'img/hombre3.jpg'%}" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <div class="info-producto">
                <h5>Chaqueta negra con remaches</h5>
                <p class="price">$0</p><br><br>
                <button class = "btnAgregarCarro">Agregar al carrito</button>
            </div>
            </div>
          </div>
          <div class="card">
            <a href="#"><img src="{% static 'img/oferta1.jpg'%}" class="card-img-top" alt="..." height="90%"></a>
            <div class="card-body">
              <div class="info-producto">
                <h5>Chaqueta negra regular 30% desc.</h5>
                <p class="price">$0</p><br><br>
                <button class = "btnAgregarCarro">Agregar al carrito</button>
            </div>
            </div>
          </div>
        </div>

        
      </div>
</body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>